.App {
    text-align: center;
    display: grid;
    grid-template: 'm n g';
    grid-template-columns: 3fr 3fr 6fr;
}

.route {
    /*width: 70%;*/
    margin: 20px;
    padding: 5px;
}

.methods {
    margin-top: 30px;
    grid-area: n;
}

select {
    text-align: center;
    width: 15%;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

input {
    text-align: center;
    width: 10%;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

button {
    width: 70%;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.menu {
    margin-top: 30px;
    grid-area: m;
}

.graph {
    margin-top: 30px;
    /*margin: 0 auto;*/
    grid-area: g;
}

table {
    /*border-collapse: collapse;*/
    margin: 10px auto;
    border: 1px solid black;
}

.colors {
    margin: 10px  auto;
}

.colors input {
    /*margin: 10px;*/
}

td {
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
}